* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    font-family: 'open_sansregular';
}

ul, p, li {
    font-size: 1.6rem;
    padding-bottom: 15px;
    font-family: 'open_sansregular';
    list-style-type: none;
    color: #00425C;
}

header {
    background: grey;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    width: 90%;
    margin: 0 auto;
    line-height: 3rem;
}

h1 { font-size: 3rem; color: #000068;}
h2 { font-size: 2.5rem; font-family: 'open_sanssemibold';color: #00425C;margin: 0 auto 30px;}

.subtitulo { text-align: center; font-size: 2rem; color: #000068;}

.video iframe {width: 100%;}

.video {
    width: 90%;
    margin: 30px auto;
}

section.cdmusic {
    background: transparent linear-gradient(180deg, #E2E0FF 0%, #E0FFFE00 100%) 0% 0% no-repeat padding-box;
    padding: 30px 0 10px;
    margin: 30px auto;
    width: 100%;
}

.tracklist {
    margin: 30px 10%;
}

.tracklist p {
    font-size: 2.5rem;
    color: #00425C;
}

.tracklist ul {
    padding: 0;
}
.tracklist li {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.caratula img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.img img {
    width: 100%;
}

.text {margin: 10% 5%;}

section.comprar {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    height: 104px;
    box-shadow: 3px -3px 6px #00000029;
    padding: 10px 0;
}   

section.comprar .precio {
    display: flex;
    justify-content: space-around;
}

section.comprar p {
    color: #00425C;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}

section.comprar { display: block ;}
    
section.comprardesk { display: none; }

.comprar button {
    border:0;
    background-color: #00425C;
    font-size: 1.8rem;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
    display: block;
}


@media (min-width:768px) {
    h2 {
        text-align: left;
        margin: 0 0 30px 5%;
    }
    .video iframe {
        width: 900px;
        height: 450px;
        margin: 0 auto;
        display: block;
    }
    .cdn20 {
        display: flex;
        justify-content: center;
    }

    .caratula { width: 30%;}
    .caratula img {
        width: 100%;
    }
    .tracklist {
        margin: 0 3%;
    }
    .listas {
        display: flex;
    }
    .tracklist ul {
        padding: 0;
        margin-right: 20px;
    }

    section.comprar { display: none;}

    section.comprardesk {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section.comprardesk p:first-child {
        margin-right: 40px;
    }
    section.comprardesk .precio {
        display: flex;
        justify-content: space-around;
    }

    .comprardesk button {
        width: 220px;
        border:0;
        background-color: #00425C;
        font-size: 1.8rem;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 6px;
        margin: 0 auto;
        display: block;
    }

    .tracklist li {
        padding-bottom: 5px;
    }

    .text {
        margin: 30px 5%;
    }
    
}

/* Spinner ajax load */

.spinner {
    margin: 0;
    text-align: center;
  }
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: white;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  
