* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    font-family: 'open_sansregular';
}

ul, p, li {
    font-size: 1.6rem;
    padding-bottom: 15px;
    font-family: 'open_sansregular';
    list-style-type: none;
    color: #00425C;
}

header {
    background: #002A3B;
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0px;
}

main {
    position: relative;
    top: 100px;
    margin-bottom: 100px;
}

h1, h2, h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    width: 90%;
    margin: 0 auto;
    line-height: 3rem;
}

h1, h2 { font-size: 2.4rem; color: #000068;}
h2 { margin-bottom: 30px;}
/*h2 { font-size: 2.5rem; font-family: 'open_sanssemibold';color: #00425C;margin: 0 auto 30px;}*/
h4 { margin-bottom: 30px; color:#707070; font-size: 3rem;}

/* Header */

.logo { display: flex; justify-content: center;  align-items: center; padding-top: 13px;}


nav.topnav a.logo {
    margin-left: 15px;
    padding: 0px;
    color: white;
    font-family: 'open_sanssemibold';
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: left;
}

nav.topnav a.icon {
    color:#002A3B;
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
    font-family: 'open_sanssemibold';
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

header nav.topOpen {    
    background-color: white;
}
nav.topnav.topOpen  a.logo, nav.topnav.topOpen a.icon  {
    color: #002A3B;
}
nav.topnav #myLinks {
    display: none;
    z-index: 999;
    box-shadow: rgb(34, 34, 34) 0px 4px 6px -6px;
    background:white;
    margin:25px 0 0;
    width: 100%;
    height: 100vh;
}

nav.topnav a {
    color:#002A3B;;
    font-family: 'open_sansregular';
    font-size: 2rem;
    display: block;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav.topnav #myLinks a:hover, nav.topnav #myLinks a:active, nav.topnav #myLinks a:focus {
    color: white;
    opacity: 0.8;
    background: #002A3B;
}

/**/

.subtitulo { text-align: center; font-size: 2rem; color: #000068;}

.video iframe {width: 100%;}

.video {
    width: 90%;
    margin: 30px auto;
}

section.cdmusic {
    background: #e8e8e8;
    padding: 30px 0 10px;
    margin: 30px auto 30px;
    width: 100%;
    /*max-width: 1400px;*/
}

.tracklist {
    margin: 30px 10%;
}

.tracklist p {
    font-size: 2.5rem;
    color: #00425C;
}

.tracklist ul {
    padding: 0;
}
.tracklist li {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.caratula img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.img { position: relative;}

.img img {
    width: 100%;
}

.iniciativa {
    position: absolute;
    right: 0;
    left: 0;
    top: 40%;
    bottom: 0;
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: 'open_sanssemibold';
}

.text {margin: 10% 5%;}

.text p {
    color:#707070
}

#product-price {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section.comprar {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    height: 104px;
    box-shadow: 3px -3px 6px #00000029;
    padding: 10px 0;
    z-index: 9999;
}   

section.comprar .precio {
    display: flex;
    justify-content: space-around;
}

section.comprar p {
    color: #00425C;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}

section.comprar { display: block ;}
    
section.comprardesk { display: none; }

.comprar button {
    border:0;
    background-color: #00425C;
    font-size: 1.8rem;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.precio input {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    height: 35px;
    text-align: center;
    font-size: 18px;
    color: #00425c;
}

footer {
    margin-bottom: 30%;
    background: #e8e8e8;
    padding: 30px 0;

}

.patrocinadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.patrocinadores img {
    margin-bottom: 15px;
}

@media (min-width:768px) {
    .desktop {
        display:block;
    }
    .mobile {
        display:none!important;
    }
    
    
    header {
        position: relative;
    }

    main {
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    .logo {justify-content: center;}

    h1, h2 { font-size: 3rem; }

    h2 {
        text-align: center;
        margin: 0 auto 30px;
    }
    .video iframe {
        width: 900px;
        height: 450px;
        margin: 0 auto;
        display: block;
    }
    .cdn20 {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    .caratula { width: 30%;}
    .caratula img {
        width: 100%;
    }
    .tracklist {
        margin: 0 3%;
    }
    .listas {
        display: flex;
    }
    .tracklist ul {
        padding: 0;
        margin-right: 20px;
    }

    section.comprar { display: none;}

    section.comprardesk {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section.comprardesk p:first-child {
        margin-right: 40px;
    }
    section.comprardesk .precio {
        display: flex;
        justify-content: space-around;
    }

    .comprardesk button {
        width: 200px;
        border:0;
        background-color: #00425C;
        font-size: 1.8rem;
        color: #ffffff;
        padding: 6px 20px;
        border-radius: 6px;
        margin: 0 0 0 25px;
        display: block;
    }

    .tracklist li {
        padding-bottom: 5px;
    }

    .text {
        margin: 30px 5%;
    }
    
    header nav, nav.topnav #myLinks {
        display: flex;
    }

    header nav {
        position: relative;
        justify-content: space-around;
        align-items: center;
    }

    .topnav a.icon {
        display: none;
    }

    nav.topnav a {
        padding: 7px 15px 10px;
        color:white;
        text-transform: capitalize;
        font-size: 1.8rem;
    }

    nav.topnav #myLinks li::after {
       /* content: "|";
        color: var(--morado);*/
        margin: 7px 0px;
    }

    nav.topnav #myLinks li:last-child::after {
        content: "";
    }

    nav.topnav #myLinks {
        box-shadow: none;
        height: 40px;
        margin-top: 15px;
        background: none;
        color:white;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        width:auto;
    }

    nav.topnav #myLinks li {
        display: flex;
    }

    .headerImg {
        top: unset;
    }

    .precio input {
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        height: 35px;
        text-align: center;
        font-size: 18px;
        color: #00425c;
        width: 120px;
    }

    .patrocinadores {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .patrocinadores img {
        margin-bottom: 15px;
    }
    footer {
        margin:0
    }
}

/* Spinner ajax load */

.spinner {
    margin: 0;
    text-align: center;
  }
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: white;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  
